---
interface Props {
  href: string;
  external?: boolean;
  class?: string;
  ariaLabel?: string;
  umamiEvent?: string;
  umamiEventData?: Record<string, string>;
}

const {
  href,
  external = /^https?:\/\//.test(href),
  class: className = '',
  ariaLabel,
  umamiEvent = undefined,
  umamiEventData = undefined
} = Astro.props;

const umamiAttributes = {
  ...(umamiEvent ? { 'data-umami-event': umamiEvent } : {}),
  ...Object.fromEntries(
    Object.entries(umamiEventData ?? {}).map(([key, value]) => [`data-umami-event-${key}`, value])
  )
};
---

<a
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noreferrer' : undefined}
  class={className}
  aria-label={ariaLabel}
  {...umamiAttributes}
>
  <slot />
</a>
